.vscode
.idea
*.log
*.tmp
*.bak
*.swp
.DS_Store
node_modules
dist
build
coverage
/mts-storage

# mts-dashboard
cmd/mts-server/dashboard-dist/
cmd/mts-dashboard/node_modules/
*.tsbuildinfo
/mts-server
